body{
    /* text-align: center; */
      /* display: flex;
      justify-content: center; */
      background-image:url(./sub-african-student.jpg);
      background-size:auto;
      background-size: cover;
      /* backdrop-filter: blur(px); */
      height: 400%;
      width: 100%;
      
  }
  #main{
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
  }
  #container{
      margin-top: 120px;
      height: 350px;
      width: 350px;
      border: 2px solid white;
      border-radius: 20px;
      justify-self: center;
      background: transparent;
      backdrop-filter: blur(10px);
      transition: all 1ms step-start 1ms;
      box-shadow: 30px 20px 40px lightblue;

     
     /* background: transparent;
      backdrop-filter: blur(10px); */
  }
  h2{
      text-decoration:dotted;
      text-align: center;
      color: white;
      height: 40px;
      font-size: 30px;
      margin: 0;
      background-color:black;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      /* background-color: blue; */
  }
  .input-field{
      margin-top: 30px;
  padding-left: 20px; ;
  }
  #input1{
      width: 90%;
      background: transparent;
      border-top: none;
      border-left: none;
      border-right:none ;
      color: white;
  }
  #a12{
      display: inline-block;
      margin-right: 25px;
      color: white;
      /* padding-left: 20px ; */
  }
  #a13{
      text-align: center;
      color: white;
  }
  
  #save-login1{
      margin-left: 20px;
      display:inline-block;
  }
  label{
      color: white;
  }
  a{
      text-decoration: none;
      color: yellow;
  }
  button{
      margin-left: 20px;
      width: 87%;
      border-radius: 20%;
      background-color: #00ff80;
     
  }
  button:hover{
      /* background-color:#00ff80; */
      color: white;
      font-size: 15px;
      text-align: center;
  }
  /* #container:hover{
      background: transparent;
      backdrop-filter: blur(10px);
      transition: all 1ms step-start 1ms;
  } */
  hr{
   border-color: #f8ac07;
   margin: 0;
  }